@model ICollection<CamadaDeApresentacao.Models.Aluno>
@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tabela Aluno</h2>

<table class="table table-striped">
    <thead">
        <th>Aluno ID</th>
        <th>Nome</th>
        <th>Email</th>
    </thead>

    @foreach (var a in @Model)
    {
        <tr>
            <td>@a.AlunoID</td>
            <td>@a.Nome</td>
            <td>@a.Email</td>
        </tr>
    }
</table>

@Html.ActionLink("Detalhes", "Detalhes", "Aluno")<br />
Aceito: @Html.CheckBox(" Aceito ", false )

@using (Html.BeginForm("Detalhes","Aluno"))
{
    @Html.CheckBox("Aceito", false);
    <input type="submit" class="btn btn-info" value="Detalhes"/>
}
<br />
@Html.TextBox("Nome", " ")<br />
<br />
@Html.TextArea("Mensagem", "Digite uma Mensagem")<br />
<br />
São Paulo
@Html.RadioButton("CidadeNatal", "São Paulo", true)<br />
<br />
Natal
@Html.RadioButton("CidadeNatal", "Natal", false)<br />
<br />
@Html.Hidden("Id", 1)
<br />
@Html.Password("Password","Senha")

