<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width"/>
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/Content/modernizr")
    </head>
    <body>
        <header>
            <img src="http://intraflex.redeflex.com.br/img/logo.png"
                 alt="Logo Vertical RedeFlex" title="Redeflex"/>
            @*<span>Redeflex</span>*@
        </header>
        <div id="toolbar">
            @if (IsSectionDefined("Toolbar"))
            {
                @RenderSection("Toolbar", required: false);
            }
            else
            {
                <input type="button"
                       value="Veja o seu numero"
                       onclick="location.href='/Home/Index'"/>
            }
        </div>
        <section id="main">
            @RenderBody()
        </section>

        <footer>&copy;Redeflex</footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
