@using CamadaDeControle.Models
@model IEnumerable<Produto>
@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>
<table>
    <tr>
        <th>@Html.DisplayNameFor(m => m.Nome)</th>
        <th>@Html.DisplayNameFor(m => m.Descricao)</th>
        <th>@Html.DisplayNameFor(m => m.Preco)</th>
    </tr>

    @foreach (var produto in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => produto.Nome)</td>
            <td>@Html.DisplayFor(m => produto.Descricao)</td>
            <td>@Html.DisplayFor(m => produto.Preco)</td>
        </tr>
    }
</table>
